html {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
    background-color:#F5F5F5;
}

svg {
    color: #40424a;
}

svg:hover {
    color: #009fff;
}

.wrapper-404 {
    margin-top: 20%;
    text-align: center;
}

/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-Regular.ttf);
}

/* latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-display: fallback;
    src: url(/assets/Josefin_Sans/JosefinSans-SemiBold.ttf);
}