html {
    box-sizing: border-box;
    font-family: 'Josefin Sans', Tahoma, Geneva, Verdana, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
    background-color:#F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
	color: #40424a;
    margin: 0;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}

/* Wrapper of Body*/
.content {
    overflow: auto;
    max-width: 1400px;
}

main {
    width: 98%;
    margin: 1% auto;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}

footer a{
    color: cornflowerblue;
    text-decoration: none;
}

footer a:hover{
    color: #009fff;
}

/* NAVIGATION LINKS */
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color when hover on the link */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/*----- END NAVIGATION LINKS -----*/

/* ----- ABOUT ME SECTION ----- */
/* Left Column */
.leftColumn {
    float: left;
    width: 35%;
}

.leftColumn > h1 {
    font-size: 3.5em;
}

.leftColumn > p {
    font-size: 1.5em;
}

.leftColumn > h4 {
    font-size: 1.4em;
}

.leftColumn > ul {
    font-size: 1.2em;
    list-style-type: none;
}

/* Profile Photo Section */
.profileSection {
    width: 60%;
}

/* More About Me Button, and Hidden Paragraphs */
#moreAboutMeButton {
    background-color:#484848;
    color: #f5f5f5; 
    font-size: 0.8em;
    font-weight: 600;
    border-radius: 25px;
    margin-left: -2px;
    padding: 10px;
    outline: none;
}

#moreAboutMeButton:hover {
    background-color:#009fff;
    text-decoration: none;
}

#moreAboutMeButton:active {
    background-color: green;
}

#moreAboutMe {
    font-size: 1.2em;
    text-align: justify;
}
/* ----- END OF ABOUT ME SECTION -----*/

/* ----- GENERAL INFORMATION -----*/
.infoTable {
    clear: both;
    width: 100%;
}

.infoTable > h2{
    font-size: 1.7em;
}

.tableRow {
    margin-left: 2%;
}

.tableRow a{
    color: #009fff;
    text-decoration: none;
}

.tableRow a:hover{
    color: cornflowerblue;
}

.tableCell_1 {
    float: left;
    width: 25%;
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 10px;
}

.tableCell_2 {
    font-size: 1.5em;
}
/*----- END OF GENERAL INFORMATION -----*/

/* ----- SOCIAL NETWORK -----*/
.socialNetwork > nav{
    overflow: hidden;
    clear: both;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
}

.socialNetwork a{
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    color: #484848;
}

.socialNetwork a:hover {
    color: #009fff;
}
/* ----- END OF SOCIAL NETWORK ----- */

/* ----- RESUME SECTION -----*/
/* EXPERIENCE */
.experience {
    clear: both;
    width: 80%;
    margin: 0 auto;
    padding: 1.2em;
}

/* EDUCATION */
.education {
    clear: both;
    width: 80%;
    margin: -16px auto;
    padding: 1.2em;
}

/* REFERENCE */
.reference {
    clear: both;
    width: 80%;
    margin: 0 auto;
    padding: 1.2em;
}

.reference > p, 
.reference > h3, 
.reference > h4, 
.reference > h5, 
.reference > a {
    margin-left: 20px;
} 

.reference > p {
    margin-top: -5px;
}

/* Format heading, paragraphs, etc.*/
.experience > h2, .education > h2, .reference > h2{
    font-size: 2em;
    text-decoration: underline;
}

li > h3 {
    font-size: 1.4em;
}

li > h4 {
    font-size: 1.2em;
}

li > h5 {
    font-size: 1.1em;
}

li > p, .reference > p{
    font-size: 1.1em;
}

.reference a {
    color: #009fff;
    text-decoration: none;
    font-size: 0.8em;
}

.reference a:hover{
    color: cornflowerblue;
}
/* ----- END OF RESUME SECTION ----- */

/* ----- CONTACT ME ----- */
.contactMe {
    text-align: center;
    padding: 1em;
}

.contactMe a {
    color: #40424a;
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid;
    padding: 0.3em 0.8em;
}

.contactMe a:hover {
    background-color: #ddd;
    color: #009fff;
    text-decoration: none;
}
/* ----- END OF CONTACT ME ----- */

/* START RESPONSIVE STYLES */
/* DESKTOP */
@media all and (min-width:1400px) {
    .content {
        overflow: auto;
        margin: auto;
    }

    .headerBackgroundImage {
        background-image: url(/imgs/logoBackground_1.jpg);
        background-size: 100% 100%;
        background-color: #f1f1f1;
        background-repeat: no-repeat;
        padding: 140px;
    }

    .leftColumn{
        float: left;
        width: 55%;
    }

    .profileSection{ 
        float: left;
        width: 45%;
    }

    .profilePhoto {
        width: 100%;
        margin-top: 55px;
    }

    #moreAboutMe{
        margin-left: 8px;
    }

    .tableCell_1 {
        width: 15%;
    }
}
 
/* TABLET */
@media all and (min-width:731px) and (max-width:1399px) {
    .headerBackgroundImage {
        background-image: url(/imgs/logoBackground_1.jpg);
        background-size: 100% 100%;
        background-color: #f1f1f1;
        background-repeat: no-repeat;
        padding: 120px;
    }

    .leftColumn{
        float: left;
        width: 50%;
    }

    .profileSection{ 
        float: left;
        width: 45%;
    }

    .profilePhoto {
        width: 100%;
        margin-top: 55px;
    }

    .tableCell_1 {
        width: 15%;
    }
}
 
 
/* BIGGER PHONE */
@media all  and (max-width:730px) {
    .headerBackgroundImage {
        background-image: url(/imgs/logoBackground_2.jpg);
        background-size: 100% 100%;
        background-color: #f1f1f1;
        background-repeat: no-repeat;
        padding: 70px;
    }

    .topnav a {
        float: none;
        width: 100%;
    }

    main {
        margin: 6% auto;
    }

    .leftColumn > h1 {
        font-size: 2.5em;
    }

    .leftColumn, .profileSection{
        float: none;
        width: 100%;
        margin-top: -20px;
    }

    .profilePhoto {
        width: 100%;
        margin-top: 15px;
    }

    #moreAboutMe {
        padding: 10px;
    }
    
    .infoTable > h2{
        font-size: 1.4em;
    }

    .tableCell_1 {
        width: 20%;
        margin-left: 15px;
        margin-right: 25px;
        font-size: 1.3em;
    }
    
    .tableCell_2 {
        font-size: 1.3em;
    }

    .socialNetwork a{
        padding: 12px 10px;
    }

    .reference {
        width: 90%;
    }

    .experience > h2, .education > h2, .reference > h2{
        font-size: 1.5em;
        text-decoration: underline;
    }

    li > h3, .reference > h3{
        font-size: 1.2em;
    }

    li > h4, .reference > h4{
        font-size: 1em;
    }

    li > h5, .reference > h5, .reference a{
        font-size: 0.8em;
    }

    li > p, .reference > p{
        font-size: 1em;
    }
}

/* SMALLER PHONE */
@media all and (max-width:380px) {
    #moreAboutMe {
        padding: 10px;
    }

    .leftColumn > h1 {
        font-size: 2em;
    }

    .leftColumn > p {
        font-size: 1.2em;
    }

    .infoTable > h2{
        font-size: 1.3em;
    }

    .tableCell_1 {
        width: 20%;
        margin-left: 15px;
        margin-right: 25px;
        font-size: 1.2em;
    }
    
    .tableCell_2 {
        font-size: 1.2em;
    }

    .socialNetwork{
        margin-top: 10px;
    }

    .socialNetwork a{
        padding: 5px;
    }

    .reference {
        width: 90%;
    }

    .experience > h2, .education > h2, .reference > h2{
        font-size: 1.3em;
        text-decoration: underline;
    }

    li > h3, .reference > h3{
        font-size: 0.9em;
    }

    li > h4, .reference > h4{
        font-size: 0.7em;
    }

    li > h5, .reference > h5, .reference a{
        font-size: 0.7em;
    }

    li > p, .reference > p{
        font-size: 0.6em;
    }
}