/* CSS - Styling for Homeword #4 - Table
 */
table, th, td {
    border-spacing: 1px;
    border-collapse: separate;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

/* First and Second Table Header Format */
table#tb1 th{
    background-color: antiquewhite;
}

table#tb2 th{
    background-color: antiquewhite;
}

/* First Table Total Row Format */
tr#total td{
    font-weight: bold;
}

/* All Images Format */
img{
    height: 100px;
    width: 100px;
}