/* My WEB120 Portal Website Styles */

html {
    background-color:#ccc;
}

div.wrapper {
    background-color:#fff;
    overflow:auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.logo {
    color:red;
    margin-left:1%;
    text-shadow:1px 1px #ccc;
    font-size:1.25em;
}

h1>a {
    text-decoration: none;
    color:#000;
}

section, aside{
    margin-left: 15px;
    margin-right: 15px;
}

.contactMe {
    clear: both;
    text-align: center;
}

.contactMe a {
    text-decoration: none;
}

.contactMe a:hover {
    color: #d3d3d3;
}

/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    clear: both;
    text-align: center;
}

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
   div.wrapper {
		width: 80%;
		margin:auto;
	}

    section {
		width: 60%;
		float:left;
	}
	
     aside {	
		width: 30%;
		float:right;
	}
			
	
    img.desktop {
        float:left;
        width:55%;
        margin-right: 10px;
    }
    
    img.tablet, img.phone {
        display:none;
    }  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
   	 }
}


/* TABLET */
@media all and (min-width:731px) and (max-width:1399px) {
    section {
        width:60%;
        float:left;
    }

    aside {	
        width:39%;
        float:right;
    }

    img.tablet {
        width:100%;
    }

    img.phone, img.desktop {
        display:none;
    } 

    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
    }
}


/* PHONE */
@media all and (max-width:730px) {
    img.phone {
        width:100%;
    }
    
    img.tablet, img.desktop {
        display:none;
    }  
}