/* Backgroud color of the page */
body{
    background-color: azure;
}

/* Form format on the main page */
form.form-1{
    text-align: left;
    padding: 20px;
    width:  50%;
    margin: auto;
}

/* Form format on the submission result page */
form.form-2{
    text-align: left;
    padding: 20px;
    width:  40%;
    margin: auto;
}

/* Field set background color */
fieldset{
    background-color: mintcream;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Title of the main form */
legend{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
}

/* Format Input */
input{
    border-radius: 4px;
    padding: 8px;
    size: 200px
}

textarea {
    border-radius: 4px;
    padding: 8px;
    width: 150px;
}